body {
  background-color: #333333;
  color: antiquewhite;

    font-size: 1.2em;
}

#pageTitle {
  display:flex;
  justify-content:center;
  color: antiquewhite;
}

.buttonArea{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

#CardArea{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 15px;
  border: 1px solid antiquewhite;
  background: #1a1a1a;
}
#cardDetailArea{
  width: 50%;
  margin: 10px;
}

.cardPreviewContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

#cardChartArea{
  width: 50%;
  margin: 10px;
}

#sortSelector{
  height: 50px;
  width: 75%;
}
#sortButton{
  width: 25%;
  height: 50px;
  font-size: 18px;
  background-color: #595959;
  color: antiquewhite;
}

#cardChart table{
  border-collapse: collapse;
  width:100%;
  height: 677.33px;
}
.tableHeader{
  background-color: #333333;
  color: White;
}
.tableRow:hover{
  background-color: Grey;
}
.tableRow{
    background-color: #595959;
}
#cardChart th, td{
  test-align: left;
  border: 1px solid antiquewhite;
  width: 33%;
  height: 8.3%;
}
#topSection{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#fluffArea{
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid antiquewhite;
  background: #1a1a1a;
}
#pageDescription{
  width: 50%;

  border-style: solid;
  border-width: 1px;
  margin: 10px 10px 10px;
  background-color: #333333;
}
#pagevideo{
  width: 50%;

  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  border-style: solid;
  border-width: 1px;
  margin: 10px 10px 10px;
  background-color: #333333;
}

.charts {
  display: flex;
  flex-direction: row;
}

.barchart {
  border: 1px solid antiquewhite;
  background-color: #1a1a1a;
}

.allFiltersContainer {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50%;
  border: 1px solid antiquewhite;
  background: #1a1a1a;
}

.subTypeFilterContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #1a1a1a;
}

.filterContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  border-style: solid;
  border-width: 1px;
  margin: 10px 10px 10px;
  background-color: #333333;
}

.filter {
  margin: 5px 10px 5px;
  background-color: #333333;
}

#filterText {
  display: flex;
  flex-grow: 1;
  width: 90%;
  background-color: #595959;
  color: antiquewhite;
  font-size: 16px;
}

button {
  width: 100px;
  height: 50px;
  background-color: #595959;
  color: antiquewhite;
}

#updateButton{
  width: 100px;
  height: 50px;
  font-size: 18px;
  background-color: #595959;
  color: antiquewhite;
}

#deckButton{
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #595959;
  color: antiquewhite;
}

#deckButton.active{
  background-color: #3CB371;
}


#resetButton{
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  background-color: darkred;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.vertical-menu {
  width: 200px; /* Set a width if you like */
  height: 150px;
  overflow-y: auto;
}

.vertical-menu a {
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  background-color : #595959;
}

.vertical-menu a:hover {
  background-color: black; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #3CB371; /* Add a green color to the "active/current" link */
  color: white;
}

/* Donut Chart Styles */
.donutChart {
  position: absolute;
  width: 450px;
  height: 450px;
  top: 30%;
  left: 70%;
  margin: -225px 0 0 -225px;
}

.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.doughnutTip::after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.7);
  line-height: 0;
}

.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}

.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}

.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
}

.chart path:hover {
  opacity: 0.65;
}
/* End of Donut Chart Styles */


/* Pie Chart Styles */
@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
section {
  margin-top: 30px;
}

.pieID {
  display: inline-block;
  vertical-align: top;
}

.pie {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 30px 30px 0;
}

.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}

.pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;
}

.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.legend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  padding: 15px;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
}

.legend li {
  width: 110px;
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}

.legend em {
  font-style: normal;
}

.legend span {
  float: right;
}

/* End of Pie Chart Styles */
